<div  class="one py-5" style="position:relative;">

  <div class="container">

    <div class="text-center">
    <div class="three">
      <h1 class="display-4"style="color:white;">Ahmed Fahim</h1>
      <p class="lead"style="color:white;">front-end Developer</p>
    </div>

    </div>
  </div>

  <div style="position:absolute; bottom:5px;right:10px">
    <a href="https://www.linkedin.com/in/ahmed-fahim-a54381190/" target="_blank" class="">
      <img src="../../assets/img/vecteezy_linkedin-logo-vector-linkedin-symbol-linkedin-icon-free_18910721.jpg" class="rounded-circle  me-1" width="50px" height="50px">
    </a>

    <a href="https://web.facebook.com/ahmed.fahim.710/" target="_blank" class="">
      <img src="../../assets/img/facebook.webp" class="rounded-circle me-1" width="50px" height="50px">
    </a>

    <a href="https://github.com/sOos1-eng/Portofolio-ahmdfahim" target="_blank" class="">
      <img src="../../assets/img/githup.jpg" class="rounded-circle  me-1" width="50px" height="50px">
    </a>
  </div>
</div>


