.tag{
  background-color: blue;
  display: inline-block;
  color:white;
  font-size: 15px;
  padding:0 15px;

  margin:0 15px;
  width: fit-content;
  border-radius: 20px;
  height: 30px;
  line-height: 30px;
}
h2{
  font-size: 30px;
  font-family:Arial, sans-serif;
  font-weight: 400px;

}
