<app-modal></app-modal>
<div class="card shadow text-center"style="max-width:350px; min-width:350px;">
  <div class="card-body">
    <h2 class="card-title">{{project.name}}</h2>
    <p class="card-text">{{project.summary}}</p>
    <button class="btn btn-primary" style="background-color:#b8eef5"data-bs-toggle="modal" data-bs-target="#m"style="">view more</button>
  </div>
  <div class="card-footer">
    <div class="d-flex flex-wrap justify-content-center">

    <div *ngFor="let tag of project.tags">
      <div class="tag"[style.background-color]="tag.color">{{tag}}</div>
    </div>

    </div>
  </div>
</div>
