<div class="container">
  <div class="text-center border mb-5 shadow rounder">
    <h1>
      contact
    </h1>
    <p>
       you can be reached at the following email:<strong>contact&#64;domain.com</strong>
    </p>
    <p>Feel free to connect with me on any of the following platforms:</p>
  </div>
  <div class="list-group shadow">
    <a href="https://www.linkedin.com/in/ahmed-fahim-a54381190/" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
      <img src="../../assets/img/vecteezy_linkedin-logo-vector-linkedin-symbol-linkedin-icon-free_18910721.jpg" class="rounded-circle flex-shrink-0 me-5" width="100px" height="100px">
      <h3 class="mb-0 left">linkedin</h3>
    </a>

    <a href="https://web.facebook.com/ahmed.fahim.710/" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
      <img src="../../assets/img/facebook.webp" class="rounded-circle flex-shrink-0 me-5" width="100px" height="100px">
      <h3 class="mb-0">facebook</h3>
    </a>

    <a href="https://github.com/sOos1-eng/Portofolio-ahmdfahim" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
      <img src="../../assets/img/githup.jpg" class="rounded-circle flex-shrink-0 me-5" width="100px" height="100px">
      <h3 class="mb-0">githup</h3>
    </a>
  </div>
</div>
