<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <a href="https://htmlreference.io/"><img src="../../assets/img/download.png" style="width:250px;height:300px;margin:20px;" class="card-img-top two" alt="...">
          </a>
          <h5 class="card-title">HTML</h5>
          <p class="card-text">HTML is the standard markup language for Web pages.

            With HTML you can create your own Website.

            HTML is easy to learn - You will enjoy it!</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS"><img src="../../assets/img/download (1).png"style="width:400px;height:300px;margin-top:30px;" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title">CSS</h5>
          <p class="card-text">CSS is the language we use to style an HTML document.

            CSS describes how HTML elements should be displayed.

            This tutorial will teach you CSS from basic to advanced.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"><img src="../../assets/img/images.png"style="width:300px;height:300px;margin:20px" class="card-img-top two" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title">Javascript</h5>
          <p class="card-text">JavaScript is the world's most popular programming language.

            JavaScript is the programming language of the Web.

            JavaScript is easy to learn.

            This tutorial will teach you JavaScript from basic to advanced.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="https://getbootstrap.com/"><img src="../../assets/img/download (1).jpeg" style="width:300px;height:250px;margin-top:40px;margin-left:60px;" class="card-img-top one" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title">Bootstrap</h5>
          <p class="card-text">Bootstrap is a powerful, feature-packed frontend toolkit. Build anything—from prototype to production—in minutes.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 ">
        <a href="https://www.typescriptlang.org/"><img src="../../assets/img/typescript-rand.jpg"  style="width:400px;height:300px;margin-top:10px;margin-left:5px;"class="card-img-top one" alt="...">
        </a>
        <div class="card-body ">
          <h5 class="card-title">Typescript</h5>
          <p class="card-text">TypeScript is a strongly typed programming language that builds on JavaScript, giving you better tooling at any scale..</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="https://angular.dev/"><img src="../../assets/img/download.jpeg"  style="width:400px;height:300px;margin-top:5px;"class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title"style="height:auto-conten;">Angular Framework</h5>
          <p class="card-text" class="show-more-container">Angular is a web framework that empowers developers to build fast, reliable applications.

          </p>
        </div>
      </div>
    </div>
  </div>

</div>
