<div class="navbar-expand-md border-bottom mb-3">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="router-link-active"   class="nav-link text-secondary" >Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/portflio" routerLinkActive="router-link-active" class="nav-link text-secondary" >Portflio</a>
      </li>
      

      <li class="nav-item">
        <a  routerLink="/skills" routerLinkActive="router-link-active" class="nav-link text-secondary">Skills</a>
      </li>
      <li class="nav-item">
        <a  routerLink="/contact" routerLinkActive="router-link-active"class="nav-link text-secondary">Contact</a>
      </li>
    </ul>
  </div>
</div>
