<div id="m" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{project.name}}</h5>
          <button  class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <p>this project used to counting the number of years by taking input:birthday and give output is your age</p>

                <img src="../../assets/img/classic-counter-year-counting-vector-971587.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5 style="color:white">counter project</h5>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <p >This project represent me and my skills this project contain four section Home,portofolio,skills,contact</p>

                <img src="../../assets/img/Screenshot (1201).png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5 style="color:white">Angular app</h5>
                </div>
              </div>
              <div class="carousel-item">
                <p >This project is portofolio this project contain four section Home,service,about,contact</p>

                <img src="../../assets/img/Screenshot (1196).png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5 style="color:white">landing Page</h5>
                </div>
              </div>
              <div class="carousel-item">
                <p >This project is portofolio this project contain four section Home,service,about,contact</p>

                <img src="../../assets/img/calculator-7832583_640.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5 style="color:white">simple calculator</h5>
                </div>
              </div>
              <div class="carousel-item">
                <p >This project is portofolio this project contain four section Home,service,about,contact</p>

                <img src="../../assets/img/Screenshot (1203).png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5 >landing page</h5>
                </div>
              </div>
              <div class="carousel-item">
                <p ></p>

                <img src="../../assets/img/Screenshot (1205).png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5 style="color:white">loging page</h5>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary"data-bs-dismiss="modal">view less</button>
        </div>
      </div>
    </div>
</div>
