<app-modal></app-modal>
<div class="container">
  <div class="row">
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>About me</h2>
        <img src="../../assets/img/صورة واتساب بتاريخ 1445-11-12 في 19.27.24_d0b724c5.jpg" width="290" height="290" class="rounded-circle">
        <p>"My name is Ahmed Fahim Elbahy, a graduate of the Faculty of Science. A year ago, I embarked on my journey to study frontend development, which led to my acceptance as a trainee in the DEPI scholarship. I am determined to keep progressing and achieve my goals."</p>
      </div>
    </div>
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>Featured</h2>

        <video class="vid" src="../../assets/img/671808ba57032b9a1bc0b9c8.mp4" style="width:600px;height:400px;"controls autoplay></video>
      </div>
    </div>


  </div>
</div>
